.btn {
  background-color: #fff;
  border: 1px solid #DFE5EC;
  padding: 10px;
  cursor: pointer;
  width: 33.33%;
  overflow: hidden;
  margin-bottom: 20px;
  &:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  &:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:nth-child(2) {
    border-right:1px solid #F3F7FA;
    border-left: 1px solid #F3F7FA;
  }
  &.active {
    background-color: #2196F3;
    border: 1px solid #000000;
  }
}
