*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: #F3F7FA;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 100px;
}
